<div id="home" class="plastic"  style="width:316px">
  <div class="toolbar">
    <span class="story_name" style="text-align:center;top:7px">
      <h1 id="pageTitle">
        New <%=@type%>
      </h1>
      <a class="back" href="/app/Story?project_id=<%=@story.project_id%>">Stories</a>
      <a class="button" onclick="$('#story_edit_form').submit();" id="infoButton" >Save</a>
    </span>
  </div>

  <form title="Login to Rhodes"
    class="panel"
    id="story_edit_form"
    method="POST"
    action="<%=url_for(:action => 'create')%>" selected="true">

    <% if @msg %>
      <p style="color:#ff0000"><%= @msg %></p>
    <% end %>
    <ul class="edit">
      <li><input type="hidden" name="story[project_id]" value="<%=@story.project_id%>"/>
        <input type="hidden" name="story[story_type]" value="<%=@type%>"/>
        <input type="hidden" name="story[current_state]" value="unscheduled"/>
        <span readonly  class="story_title" >Name</span>
        <input type="text" name="story[name]"/></li>
      <%if @type=="feature"%>
        <li><span readonly  class="story_title" >Estimate </span>
          <select    name="story[estimate]">
	        <option value="0">0 Point</option>
            <option value="1">1 Point</option>
            <option value="2">2 Points</option>
            <option value="3">3 Points</option>  
            <option value="5">5 Points</option>
            <option value="8">8 Points</option>
          </select>
        </li>
      <%end%>
      <li><span readonly  class="story_title" >Description</span>
        <textarea type="text" name="story[description]"></textarea>
      </li>
    </ul>
  </form>

</div>

